{% extends 'base.html.twig' %}

{% block title %} Profil {% endblock %}

{% block body %}

<section>
	<div class="container bg-center">
		<div class="row pb-3 pt-4" style="justify-content:center">
            <div class="col-sm-7">
                <form method="post" action="{{ path('post_client') }}">

                    <h1 id="titre"> Complêtez votre profil </h1>

                    <div class="row" id="infos">
                        <div class="col-12">

                            {% for flash_error in app.flashes('connexion') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                            {% endfor %}
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="genre" id="genre" value="M">
                                <label class="form-check-label" for="radio1">Un homme</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="genre" id="genre" value="Mme" onclick="myFunction()">
                                <label class="form-check-label" for="radio2">Une femme</label>
                            </div>
                            <br><br>
                            <div class="form-group">
                                <label for="nom">Nom :</label>
                                <input required type="text" value="{{app.user.client.nom}}" class="form-control" id="nom" name="nom">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="prenom">Prénom :</label>
                                <input required type="text" value="{{app.user.client.prenom}}" class="form-control" id="prenom" name="prenom">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="adresse">Adresse :</label>
                                <input required type="text" value="{{app.user.client.adresse}}" class="form-control" id="adresse" name="adresse">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="cp">Code postal :</label>
                                <input required type="text" value="{{app.user.client.cp}}" class="form-control" id="cp" name="cp">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="ville">Ville :</label>
                                <input required type="text" value="{{app.user.client.ville}}" class="form-control" id="ville" name="ville">
                            </div>
                            <br>
                            <label for="type">Vous êtes :</label> <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="type" id="type" value="par">
                                <label class="form-check-label" for="radio1">Un particulier</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="type" id="type" value="pro" onclick="myFunction()">
                                <label class="form-check-label" for="radio2">Un professionnel</label>
                            </div>
                            <br>
                            <div class="form-group" id="raison" style="display:none">
                                <label for="Raison">Raison sociale :</label>
                                <input type="text" value="" class="form-control" name="raison">
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="telephone">Téléphone :</label>
                                <input required type="tel" value="{{app.user.client.tel}}" class="form-control" id="telephone" name="tel">
                            </div>


                            <input type="hidden" name="_csrf_token" value="">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-12 bouton-connexion">
                            <button type="submit" class="btn btn-success font-weight-bold text-light">
                                Valider mes informations
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    function myFunction()
    {
    divInfo = document.getElementById('raison');
    if (divInfo.style.display == 'none')
    divInfo.style.display = 'block';
    else
    divInfo.style.display = 'none';
    }
</script>
{% endblock %}