{% extends 'admin.html.twig' %}

{% block body %}
{# CSS #}
{# <style>

.fa-eye{

    color:rgb(190, 92, 35);
}
.fa-edit{

    color:rgb(53, 140, 175);
}

 #}
</style>
    <section>
        <div class="container bg-center">
            <div class="row p-3">

            {# <div class="col-2 mb-5 mt-3 ml-auto">
                <a class="btn-block btn btn-primary text-light font-weight-bold text-light" href=""role="button">+ Ajouter un produit</a>
            </div> #}
                <div class="row col-12">
                    <div class="row col-12 d-flex align-items-center justify-content-between">
                        <div class="col-4">
                            <h1>Liste des produits</h1>
                        </div>
                        <div class="col-2">
                            <a class="btn-block btn btn-warning text-light font-weight-bold text-light" href="{{ path('produit_new')}}"role="button">+ Ajouter un produit</a>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Status</th>
                            <th>Stock</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for produit in produits %}
                            <tr>
                                <td><img src="/assets/src/{{ produit.photo }}" class="img-fluid" width="120px"></td>
                                <td><a href="{{ path('produit_show', {'id': produit.id}) }}">{{ produit.nom }}</a></td>
                                <td>{{ produit.prixht}} €</td>
                                <td>{% if produit.stock >0 %} <span class="text-success">Disponible</span>{% else %}<span class="text-danger">Indisponible</span>{% endif %}</td>
                                <td>{% if produit.stock >0 %}<span class="text-success">{{produit.stock}}</span>{% endif %}</td>
                                <td>
                                    <a href="{{ path('produit_show', {'id': produit.id}) }}"><i class="far fa-eye fa-2x mr-3 text-primary" title="Voir le produit"></i></a>
                                    <a href="{{ path('produit_edit', {'id': produit.id}) }}"><i class="far fa-edit fa-2x text-secondary" title="Editer le produit"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
{% endblock %}