{% extends 'base.html.twig' %}

{% block title %} app.user.client {% endblock %}

{% block body %}

<section>
	<div class="container bg-center">
		<h1 id="titre" class=" pt-3 pl-5">Votre profil</h1>
		<div class="row mr-5 ml-5 ">
			<div class="col-6" id="infos-client">
				<p class="adresse">Adresse de facturation</p>
				<input class="form-control" type="text" placeholder="{{ app.user.client.genre|capitalize }}" aria-label="Disabled input example" disabled>
				<input class="form-control" type="text" placeholder="{{ app.user.client.nom|capitalize }}" aria-label="Disabled input example" disabled>
				<input class="form-control" type="text" placeholder="{{ app.user.client.prenom|capitalize }}" aria-label="Disabled input example" disabled>
				<input class="form-control" type="text" placeholder="{{ app.user.client.adresse|capitalize }}" aria-label="Disabled input example" disabled>
				<input class="form-control" type="text" placeholder="{{ app.user.client.ville|capitalize }}" aria-label="Disabled input example" disabled>
				<input class="form-control" type="text" placeholder="{{ app.user.client.cp|capitalize }}" aria-label="Disabled input example" disabled>
				<input class="form-control" type="text" placeholder="{{ app.user.client.tel }}" aria-label="Disabled input example" disabled>
			</div>
			<div class="col-6" id="infos-client">
				<p class="adresse">Adresse de livraison</p>
				<input class="form-control" type="text" placeholder="{{ app.user.client.genre|capitalize }}" aria-label="Disabled input example" disabled>
				<input class="form-control" type="text" placeholder="{{ app.user.client.nom|capitalize }}" aria-label="Disabled input example" disabled>
				<input class="form-control" type="text" placeholder="{{ app.user.client.prenom|capitalize }}" aria-label="Disabled input example" disabled>
				<input class="form-control" type="text" placeholder="{{ app.user.client.adresse|capitalize }}" aria-label="Disabled input example" disabled>
				<input class="form-control" type="text" placeholder="{{ app.user.client.ville|capitalize }}" aria-label="Disabled input example" disabled>
				<input class="form-control" type="text" placeholder="{{ app.user.client.cp|capitalize }}" aria-label="Disabled input example" disabled>
				<input class="form-control" type="text" placeholder="{{ app.user.client.tel }}" aria-label="Disabled input example" disabled>
			</div>
		</div>
		<div class="row justify-content-between">
			<div class="col-12 mt-5 mb-2">
				<button type="submit" class="btn btn-warning">
					<a class="valider font-weight-bold text-light" href="{{ path('profil_client') }}">Modifier mes informations</a>
				</button>
				<button type="submit" class="btn btn-success">
					<a class="valider font-weight-bold text-light" href="{{ path('panier_valider') }}">Valider mes informations et passer ma commande</a>
				</button>
			</div>
		</div>
    </div>
</section>


{% endblock %}